<!DOCTYPE html>
<html>
<head>
</head>

<body>

  <a href="https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/114202576718100464364515408500349303551825088591531595726314326089392594092033">
    <img src="/msnew.png" alt="Make School New">
    </a>
    <a href="https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/114202576718100464364515408500349303551825088591531595726314326089392594092033">
        <img src="/msnew.png" alt="Make School New">
     </a>

</body>
</html>
