<!DOCTYPE html>
<html>
<head>
</head>

<body>
     <ul>
      <% tokens.forEach(function(token) { %>
        <a href=<%= token.permalink %> >
          <img src=<%= token.image_url %> "alt="Make School New">
          </a>
    <% }); %>
    </ul>
</body>
</html>
